/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Orbit&display=swap');
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(/font/symbols.woff2) format('woff2');
}

:root {
  --swiper-pagination-color: rgba(255,255,255,.8);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 2px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-navigation-size: 20px !important;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: rgba(255,255,255,.8);

  --TRYEAT-Icon: #000000;
  --TRYEAT-Blown: #815033;
  --TRYEAT-Green : #00643b; 
  --TRYEAT-Orange : #ff6600;
  --TRYEAT-Grey : #e6e7e8;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled{display:none}
.cart-icon > span:nth-child(1){color:var(--TRYEAT-Icon)}
.back_icon > span:nth-child(1){color:var(--TRYEAT-Icon)}
.title{color:var(--TRYEAT-Icon)}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html{
  background-color: white;
}
body{
  border:1px solid #f8f8f8 !important;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Noto Sans KR';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  max-width: 720px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.big_banner{ margin: 10px}
.big_banner div{border:1px #c8c8c8 solid; padding:20px; padding-left:25px;}
.big_banner > div:first-child{ font-size:55px; line-height: 70px; font-weight: bold; }
.big_banner > div:first-child span{ color:white; text-shadow: 0px 0px 2.5px black;}
.big_banner > div:last-child{ font-size:18px; line-height: 30px; border:1px #c8c8c8 solid; border-top: 0px;}
.big_banner .highlight1{}
.big_banner .highlight2{ font-weight: bold;}

.sub_banner, 
.product{margin:10px;}
.sub_banner .image img,
.product .image img{width:100%; border:0; }

.sub_banner .button button
,.product .button button{width:100%; border:0; padding:10px; background-color: #fff; border:1px solid #e8e8e8; margin-top:10px; display: inline-flex; justify-content: center; align-items: center;}

.sub_banner .button .material-symbols-outlined
,.product .button .material-symbols-outlined{ font-size:15px; color:#444;  }

.sub_banner .button span
,.product .button span{ font-size: 12px; padding-left: 5px;}

.sub_banner .description .title
,.product .description .title{ padding-top:5px; font-size: 13px;}

.sub_banner .description a 
,.product .description a{ text-decoration: none; color:black}

.sub_banner .description .price > div:first-child,
.product .description .price > div:first-child{ text-decoration: line-through;}

.sub_banner .description .price > div,
.product .description .price > div{ padding-top:5px;font-size: 12px;  }

.sub_banner .description .price span:first-child
,.product .description .price span:first-child{ font-size: 12px; font-weight: 700; color:orange;  }

.sub_banner .description .price span:nth-child(2)
,.product .description .price span:nth-child(2){ font-size: 12px; font-weight: 700;  }

.sub_banner .description .price span:nth-child(3)
,.product .description .price span:nth-child(3){ font-size: 18px;  }

.Slide {padding-bottom:60px}
.shopcart{}

.Product img{width:100%}
.Product > .wrapper{margin: 10px;}
.Product > .wrapper > p:first-child{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.Product > .wrapper p:first-child{font-size: 18px; font-weight: 700; margin-bottom:10px;}
.Product > .wrapper p:nth-child(2) span:nth-child(1){font-size: 24px; font-weight: 700; padding-right:10px; color:orange}
.Product > .wrapper p:nth-child(2) span:nth-child(2){font-size: 24px; font-weight: 700;}
.Product > .wrapper p:nth-child(3){font-size: 18px; line-height: 26px; font-weight: 400; margin-top: 10px;}

.default_icon{ display: flex; justify-content: center; align-items: center; }

button{color:black}
.Ingredients{ display: flex; position: fixed; top:15%; width: 100%; height: 100%; background-color: #fff; max-width: 720px; display: none; z-index: 20; flex-direction: column;}
.Ingredients ul {display: flex; flex-direction: column; width: 100%;  justify-content: top;}
.Ingredients ul > li {display: inline-flex; width: 100%; height: 50px; justify-content: center; align-items: center;}
.Ingredients ul > li input,.Ingredients ul > li button{width: 35px; height: 90%; text-align: center;border: 0;}
.Ingredients ul > li input{width: 25px;height: 80%;border: 0px solid #e8e8e8;border-right: 0; border-left: 0;}
.Ingredients ul > li button{border: 0;}
.Ingredients ul > li > div {display: inline-flex; align-items: center; height: 90%;}
.Ingredients ul > li > div:first-child{width:50%;}
.Ingredients ul > li.header{margin-bottom:25px; justify-content: end;}
.Ingredients ul > li.header span{color: #ccc !important;}
.Ingredients.on{display: flex;}
.buy button{width: 95%; height: 45px; border: 0; background-color: black; color:white; border-radius: 5px;}
.product-description{padding-bottom:20px; }
.recipe-title{padding-top:20px; font-size: 18px; font-weight: 700; margin-bottom:10px;}
.recipe{width: 100%; display: block; padding-bottom:52px}
.recipe li{padding-bottom:30px}
.recipe li > div{position: relative;}
.recipe li > div > span{position: absolute;bottom:0px;left:0;display: inline-block; width:30px; height: 30px; line-height: 30px; text-align: center; background-color: #2a715a; color:#fff}
.recipe li p {line-height: 30px;}

body{background-color: #fff; margin:0 auto}
.mini-cart-scroll{
  height: calc(62%);
  overflow: hidden;
  overflow-y: scroll;

}
.mini-cart-scroll ul{padding-bottom:30px;}
.dimmed{position: fixed; top:0;left:0;z-index: 19; background-color: rgba(0,0,0,.6); width: 100%; height: 100%;display: none;}
.dimmed.on{display: block}


.cart {margin-top:43px}
.cart .cartList .main > li { width: 100%; margin: 0; padding: 0; padding-bottom: 44px;}
.cart .main > li{display: flex; flex-direction: row;}
.cart .cartList .image{width: 100px; height: auto; margin-left:10px;}
.cart .cartList .description{width: calc(100% - 70px); margin:0px 10px; font-size: 14px;}
.cart .cartList .description > ul{ background: #f5f5f5; border-radius: 10px; padding: 15px; margin-top: 0;}
.cart .cartList .description > ul > li:first-child{ border-bottom: 1px solid #000; padding-bottom: 10px; }
.cart .cartList .description > ul > li:first-child > span{ font-weight: bold; }
.cart .cartList .text{padding:20px 10px}
.cart .cartList .image img{width: 100%;}
.cart .cartList .detail{ display: flex; flex-wrap:wrap; margin:10px;}
.cart .cartList .description .detail .amount > div{margin-left:auto; padding-right: 0; white-space: nowrap;}
.cart .cartList .description .detail .price{text-align: right;}
.cart .cartList .detail > span{ width: 50% }
.cart .cartList .detail > div{width: 100%;}
.cart .cartList .detail > div > div{ width: 100px; padding:10px; }
.cart .cartList .detail > div > * {width: 30%;}
.cart .cartList .detail > div > div > input,.cart .cartList .detail > div> div > button {width: 35px; height: 90%; text-align: center;border: 0;}
.cart .cartList .detail > div > div > input{width: 25px;height: 34px;border: 0px solid #e8e8e8;border-right: 0; border-left: 0;}
.cart .cartList .detail > div > div > button {width:35px; height: 34px;border:0}

.cartList h2{font-weight: bold;}
.cartList > li > ul{padding-bottom:10px}
.cart .cartList .text{align-items: center;}
.cart .cartList .text{display:flex}
.cart .cartList .text span:nth-child(2){padding-left: 10px;}
.cart .cartList .close{margin-left:auto;}
.cart .buy-button-wrapper{width: 100%; display: flex; justify-content: center; align-items: center; height: 43px; position: fixed; bottom: 0; max-width: calc(720px); background-color: #fff;}
.cart .buy-button-wrapper button{width: 95%; height: 39px; border: 0; background-color: #000; color:#fff}


/*
.Ingredients ul > li input,.Ingredients ul > li button{width: 35px; height: 90%; text-align: center;border: 0;}
.Ingredients ul > li input{width: 25px;height: 80%;border: 1px solid #e8e8e8;border-right: 0; border-left: 0;}
.Ingredients ul > li button{border: 0;}

*/

.toast{position: fixed; display: flex; justify-content: center;align-items: center; bottom:60px; width: 100%; z-index: 9999; max-width: 720px;}
.toast > p {background-color: rgba(0,0,0,.5); color:#fff; width:90%; padding:20px 10px; border-radius: 7px;}


.cart-icon span:nth-child(2){position:absolute; top:5px; right:5px; display: inline-flex; align-items: center; justify-content: center; background-color:var(--TRYEAT-Icon); color:#fff; width: 12px; height: 12px; font-size:10px; border-radius: 100%;}

.ct2 {
  color: #fff;
  animation: ct 6s infinite;
}


.ct3 {
  color: #fff;
  fill: var(--TRYEAT-Grey);
}


.ct-text2 {
  color: black;
  animation: ct-text 1s infinite;
}

/*


*/

@keyframes ct {
  25% {fill: var(--TRYEAT-Blown);}
  50% {fill: var(--TRYEAT-Green);}
  75% {fill: #000}
}

@keyframes load {
	25% {
    fill: #dfdfdf;
	}
	75% {
    fill: #afafaf;
	}
}

@keyframes ct-text {
  25% {color: var(--TRYEAT-Blown);}
  50% {color: var(--TRYEAT-Green);}
  75% {color: #000}
}
.loading-bar{

  background-color: '#c8c8c8';
  width: 100%;
  height: 100%;
}
.animationBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(245, 245, 245, 1) 0%,
    #ffffffae 10%,
    rgba(245, 245, 245, 1) 20%
  );
  animation: loading 1.5s infinite linear;
}
 


@keyframes loading {
  0% {
    transform: translateX(calc(-500%));
  }
  50%,
  100% {
    transform: translateX(calc(500%));
  }
}

/* .skeleton-item{
  position: relative;
  z-index: 10;
  background-color: #f2f2f2;
} */
/* .skeleton-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #fefefe, #f2f2f2);
  animation: loading 2s infinite linear;
  z-index: 5 !important;
} */
/* .skeleton-item img, .skeleton-item video{z-index: 11 !important;width:100%} */

/* 
.skeleton-item.is-done::before {
  display: none;
}
.swiper-slide .skeleton-item::before{
  display: none;
} */

@-webkit-keyframes skeleton-gradient {
  0% {
      background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
      background-color: rgba(165, 165, 165, 0.5);
  }

  100% {
      background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeleton-gradient {
  0% {
      background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
      background-color: rgba(165, 165, 165, 0.5);
  }

  100% {
      background-color: rgba(165, 165, 165, 0.1);
  }
}

/*해당되는 컴포넌트에 적용*/
.skeleton-item {
  -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}